@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./bg-clouds.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid-div {
    display: grid;
    width: 90vw;
    margin: 12vh auto;
    height: 75vh;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "city city"
        "visual data"
    ;
    color: white;
}

.city {
    grid-area: city;
    padding: 0 2rem;
}

.visual {
    grid-area: visual;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    grid-area: data;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.7rem;
}

@media screen and (max-width: 680px) {
    .grid-div {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-areas: "city"
            "visual"
            "data"
        ;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

.Data-List {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.Data-List>ul {
    justify-content: space-around;
    align-items: unset;
    display: flex;
    flex-direction: row;
}

.dataul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.dataulsub {
    font-size: 1rem;
}



/* vsul */
.watehr-icon {
    height: 150px;
    opacity: 0.8;
}

.temperat {
    font-size: 7rem;
    font-weight: 100;
    line-height: 1rem;
}

.temperat-unit {
    font-size: 3.4rem;
}

.temperat-unit sup {
    font-size: 1rem;
}

.temperat-sub {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.temperat-data {
    padding-left: 2rem;
    padding-top: 2rem;
}